@use "../../../index.scss" as *;

.question_input {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: map-get($colors, darkerTxt);
    padding-right: 1.25rem;

    button {
        background-color: transparent;
        border: 0;
        outline: 0;
        cursor: pointer;
    }

    .question_input_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .question_input_content {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding-left: 1.25rem;

        .question_input_content_card {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                display: flex;
                align-items: center;
            }
        }
    }

    .question_input_add {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1rem;
        padding: 1.25rem;
    }

    .current svg path {
        fill: map-get($colors, success);
    }
}
.open_question_hint {
    padding: 0.5rem 0;
}
