@use "../../../index.scss" as *;

.wrapper {
    position: relative;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    .module_ball {
        position: absolute;
        top: 0;
        right: 0;
        background: radial-gradient(circle at top right, rgba(2, 87, 165, 0.5), map-get($colors, txt) 70%);
        height: 100dvh;
        width: 50dvh;
        z-index: -1;
        filter: blur(100px);
    }
}

.module {
    padding-top: 11.25rem;
    padding-inline: 7.5rem;
    box-sizing: border-box;
    padding-bottom: 3.125rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media (max-width: 1200px) {
        padding-inline: 3rem;
    }

    @media (max-width: 900px) {
        padding-top: 12rem;
        padding-bottom: 3rem;
    }

    .module_header {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        @media (max-width: 900px) {
            flex-direction: column;
            align-items: flex-start;
        }

        h1 {
            font-size: 2rem;
        }

        a:hover {
            svg path {
                fill: map-get($colors, darkerBck);
            }
        }
    }

    .module_content {
        display: flex;
        gap: 3.75rem;

        @media (max-width: 900px) {
            flex-direction: column;
        }

        .module_content_main {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            flex: 1;

            .module_content_desc {
                font-size: 1.25rem;
                color: map-get($colors, darkerBck);
            }

            .module_content_section {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                h3 {
                    font-size: 1.5rem;
                }
            }
        }

        .module_content_side {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            width: 25rem;

            @media (max-width: 900px) {
                width: 100%;
            }

            h3 {
                font-size: 1.5rem;
            }
        }
    }
}

.material_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    > * {
        min-height: 5rem;
        padding-block: 1rem;
    }
}

.quiz_list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
}

.feed_list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-height: calc(100dvh - 22rem);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.feed_card {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    padding: 1.25rem;
    background-color: map-get($colors, darkerTxt);
    box-sizing: border-box;

    .feed_card_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            align-items: center;
            gap: 0.75rem;

            img {
                width: 1.813rem;
                height: 2rem;
            }

            p {
                font-size: 1rem;
                color: map-get($colors, bck);
            }
        }

        p {
            font-size: 0.75rem;
            color: map-get($colors, darkerBck);
        }
    }

    .feed_card_avatar {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feed_card_content {
        font-size: 1.25rem;
    }
}

.show_more_button {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    outline: 0;
    cursor: pointer;

    p {
        font-size: 0.75rem;
        color: map-get($colors, shadow);
    }

    &.true {
        flex-direction: column-reverse;

        svg {
            transform: rotate(180deg);
        }
    }
}

.no {
    font-size: 1rem;
    text-align: left;
    color: map-get($colors, shadow);
}
