@use "../../../index.scss" as *;

.course_card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: map-get($colors, lighterShadow);
    border: 2px solid map-get($colors, lighterShadow);
    padding: 1.25rem;

    .course_card_info {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;

        .course_card_info_c {
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 1.5rem;
            }

            p {
                font-size: 0.875rem;
                color: map-get($colors, darkerShadow);
            }
        }
    }

    &:hover {
        background-color: transparent;

        .course_card_info .course_card_info_c h3{
            color: map-get($colors, action);
        }

        svg path {
            fill: map-get($colors, action);
        }
    }
}