@use "../../../index.scss" as *;

.course_card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: map-get($colors, darkerTxt);
    padding: 1.25rem;
    height: 8.75rem;
    box-sizing: border-box;
    outline: none;
    border: 2px solid map-get($colors, darkerTxt);

    .course_card_info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1.875rem;
        height: 100%;

        .course_card_info_c {
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 1.25rem;
            }

            p {
                font-size: 1rem;
                color: map-get($colors, darkerBck);
            }
        }
    }

    .course_card_end {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 1.875rem;
        height: 100%;

        p {
            font-size: 1rem;
            font-weight: 600;
            color: map-get($colors, bck);
        }
    }

    &:hover {
        border-color: map-get($colors, action2);
        background-color: transparent;

        .course_card_info .course_card_info_c h3 {
            color: map-get($colors, action2);
        }

        .course_card_end svg path {
            fill: map-get($colors, action2);
        }
    }

    &.lector {
        height: 11.25rem;
    }

    &.live {
        border-color: map-get($colors, action2);
        background-color: transparent;
    }
}