@use "../../../../index.scss" as *;

.quizz_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2.5rem;

    .quizz_form_content {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        h3 {
            font-size: 1.5rem;
            color: map-get($colors, darkerTxt);
        }

        .quizz_form_content_list {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
    }
}