
:80 {
    route /api* {
                    reverse_proxy 127.0.0.1:8080 {
                                                  flush_interval -1
                                              }
                }

    route /* {
                 reverse_proxy 127.0.0.1:3000
             }
}


# :80 {
#    route /api* {
#                    reverse_proxy spring:8080 {
#                                                  flush_interval -1
#                                              }
#                }

#    route /* {
#                     reverse_proxy react:3000
#             }
# }