@use "../../../../index.scss" as *;

.course_form {
    display: flex;
    gap: 2.5rem;

    .course_form_inputs {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .course_form_materials {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 21.25rem;
    }

    .course_form_content {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .course_form_content_header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 1rem;
                color: map-get($colors, darkerShadow);
            }
        }

        h3 {
            font-size: 1.5rem;
            color: map-get($colors, darkerTxt);
        }

        .course_form_content_material {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
    }
}