@use "../../../index.scss" as *;

.lector_card {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    .img {
        width: 3.25rem;
        height: 3.25rem;
        border-radius: 1.625rem;
        background-color: map-get($colors, shadow);
    }

    div {
        display: flex;
        flex-direction: column;

        h4 {
            font-size: 1rem;
            color: map-get($colors, darkerBck);
        }

        p {
            color: map-get($colors, darkerBck);
            font-size: 0.875rem;
        }
    }
}