@use "../../../index.scss" as *;

.quiz_button {
    @include btn-solid;
    text-align: center;
    height: 3rem;
    width: 100%;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

    &.red {
        background-color: map-get($colors, warning);
        border-color: map-get($colors, warning);
        color: #fff;

        &:hover {
            background-color: darken(#dc3333, 8%);
            border-color: darken(#dc3333, 8%);
            color: #fff;
        }
    }
}
