@use "../../../index.scss" as *;

.search_input {
    display: flex;
    justify-content: space-between;
    background-color: map-get($colors, darkerTxt);
    width: 100%;

    input {
        padding-left: 1.25rem;
        padding-block: 0.75rem;
        border: none;
        outline: none;
        color: map-get($colors, bck);
        background-color: transparent;
        font-size: 1rem;
        width: 100%;

        &:hover,
        &:focus {
            border: none;
            outline: none;
        }

        &::placeholder {
            color: map-get($colors, shadow);
            font-size: 1rem;
        }
    }

    button {
        padding-inline: 1.75rem;
        padding-block: 0.75rem;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;

        &:hover,
        &:focus {
            border: none;
            outline: none;

            svg path {
                fill: map-get($colors, shadow);
            }
        }
    }
}