@use "../../../index.scss" as *;

.index_button {
    background-color: map-get($colors, bck);
    color: map-get($colors, txt);
    padding-block: 0.75rem;
    padding-inline: 1.75rem;
    font-size: 1rem;

    &:hover {
        background-color: map-get($colors, darkerBck);
    }

    &.darker {
        background-color: map-get($colors, txt);
        color: map-get($colors, bck);

        &:hover {
            background-color: map-get($colors, darkerTxt);
        }
    }
}