@use "../../../index.scss" as *;

.index_button {
    @include btn-solid;
    padding-block: 0.875rem;
    padding-inline: 2rem;
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 900px) {
        width: 100%;
        box-sizing: border-box;
        padding-block: 0.875rem;
        font-size: 1.25rem;
    }
}
