@use "../../../index.scss" as *;

.dashboard_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dashboard_nav_back {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        font-size: 1.25rem;

        &:hover {
            color: map-get($colors, darkerBck);

            svg path {
                fill: map-get($colors, darkerBck);
            }
        }
    }

    .dashboard_nav_actions {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }
}