@use "../../../index.scss" as *;

.dashboard_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    padding-block: 1rem;
    box-sizing: border-box;

    @media (max-width: 900px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        min-height: unset;
        padding-block: 0;
    }

    .dashboard_nav_back {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        font-size: 1.25rem;

        &:hover {
            color: map-get($colors, darkerBck);

            svg path {
                fill: map-get($colors, darkerBck);
            }
        }
    }

    .dashboard_nav_actions {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        @media (max-width: 900px) {
            flex-direction: column;
            width: 100%;
            align-items: stretch;
            gap: 0.75rem;
        }
    }
}