@use "../../../index.scss" as *;

.dashboard_nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid map-get($colors, action);
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 3.75rem;
    background-color: map-get($colors, bck);

    .dashboard_nav_heading {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        padding-bottom: 1.875rem;

        h1 {
            font-size: 2.75rem;
            color: map-get($colors, action);
        }

        p {
            font-size: 1.25rem;
            color: map-get($colors, darkerShadow);
        }
    }

    .dashboard_nav_actions {
        display: flex;
        align-items: center;
    }
}