@use "../../../../../index.scss" as *;

.result_card {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: map-get($colors, darkerAction2);
    color: map-get($colors, bck);

    &.incorrect {
        background-color: map-get($colors, warning);
    }
}