@use "../../../../../index.scss" as *;

.result_card {
    width: 4.375rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: map-get($colors, darkerTxt);
    color: map-get($colors, success);
    border: 1px solid map-get($colors, darkerTxt);
    box-sizing: border-box;
    cursor: pointer;

    &.incorrect {
        color: map-get($colors, warning);
    }

    &.info {
        color: map-get($colors, bck);
    }

    &:hover {
        border-color: map-get($colors, action2);
    }

    &.active {
        border-color: map-get($colors, bck);
    }
}