@use "../../../index.scss" as *;

.input {
    color: map-get($colors, darkerBck);
    background-color: map-get($colors, darkerTxt);
    font-size: 1rem;
    padding-inline: 1.25rem;
    padding-block: 0.75rem;
    border: 0;
    outline: 0;
    width: 100%;
    height: 3.75rem;
    box-sizing: border-box;

    &:focus,
    &:hover {
        border: 0;
        outline: 0;
    }

    &::placeholder {
        color: map-get($colors, darkerBck);
        font-size: 1rem;
    }

    &.bigger {
        width: 100%;
        color: map-get($colors, darkerBck);
        padding: 0.938rem;

        &::placeholder {
            color: map-get($colors, darkerBck);
        }
    }

    &.title {
        width: 100%;
        padding: 0.75rem;
        color: map-get($colors, bck);
        font-size: 2rem;

        &::placeholder {
            color: map-get($colors, bck);
            font-size: 2rem;
        }
    }

    &.transparent {
        background-color: transparent;
    }

    &.small {
        padding-block: 0;
        height: auto;
    }
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: map-get($colors, darkerBck) !important;
    background-color: transparent !important;
    transition: background-color 9999s ease-in-out 0s;
}

.input:-moz-autofill {
    box-shadow: 0 0 0 1000px transparent inset !important;
    -moz-text-fill-color: inherit !important;
}