@use "../../../index.scss" as *;

.dashboard_button {
    display: flex;
    align-items: center;
    padding-block: 0.625rem;
    padding-inline: 1.5rem;
    gap: 0.5rem;
    background-color: map-get($colors, bck);
    cursor: pointer;
    border: none;
    outline: none;
    height: 3rem;
    box-sizing: border-box;

    &:hover,
    &:focus {
        border: none;
        outline: none;
    }

    span {
        color: map-get($colors, txt);
        font-size: 1.25rem;
    }

    &.longer {
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
    }

    &:hover {
        background-color: map-get($colors, darkerBck);
    }
}