@use "../../../index.scss" as *;

.dashboard_button {
    @include btn-solid;
    display: inline-flex;
    align-items: center;
    padding-block: 0.625rem;
    padding-inline: 1.5rem;
    gap: 0.5rem;
    height: 3rem;
    box-sizing: border-box;

    span {
        font-size: 1.25rem;
    }

    &.longer {
        width: 100%;
        justify-content: center;
    }

    @media (max-width: 900px) {
        width: 100%;
        justify-content: center;
    }
}
