@use "../../../index.scss" as *;

.new_button {
    @include btn-ghost;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.75rem;
    padding: 1rem;
    box-sizing: border-box;

    &:hover:not(.answer) svg path {
        fill: #91F5AD;
    }

    &.bigger {
        width: 15rem;
        height: 10rem;
    }
}
