@use "../../../index.scss" as *;

.quiz_card {
    display: flex;
    justify-content: space-between;
    border: 2px solid map-get($colors, darkerTxt);
    background-color: map-get($colors, darkerTxt);
    width: 100%;
    padding: 1rem;
    height: 7.5rem;
    box-sizing: border-box;

    .quiz_card_text {
        display: flex;
        flex-direction: column;
        gap: 0.625;
        flex: 1;

        h4 {
            font-size: 1rem;
            color: map-get($colors, bck);
        }

        p {
            font-size: 0.75rem;
            font-weight: 600;
            color: map-get($colors, darkerBck);
        }
    }

    .quiz_card_actions {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        justify-content: space-between;
        align-items: flex-end;

        p {
            font-size: 0.75rem;
            color: map-get($colors, bck);

            &.none {
                color: map-get($colors, shadow);
            }
        }
    }

    &:hover {
        border-color: map-get($colors, action2);
    }
}