@use "../../../index.scss" as *;

.material_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid map-get($colors, darkerTxt);
    background-color: map-get($colors, darkerTxt);
    padding-inline: 1.25rem;
    width: 100%;
    box-sizing: border-box;
    min-height: 3.75rem;

    &:hover {
        border-color: map-get($colors, action2);

        .material_card_actions {
            button {
                svg path {
                    fill: map-get($colors, shadow);
                }
            }
        }
    }

    .material_card_first {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        // img {
        //     width: 1.25rem;
        //     height: 1.25rem;
        // }
    }

    .material_card_text {
        display: flex;
        flex-direction: column;

        h4 {
            font-size: 1rem;
            color: map-get($colors, bck);
        }

        p {
            font-size: 0.875rem;
            color: map-get($colors, darkerBck);
        }
    }

    .material_card_actions {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        height: 100%;

        a,
        button {
            padding: 0;
            margin: 0;
            background-color: transparent;
            border-radius: 0;
            border: 0;
            outline: 0;
            cursor: pointer;

            &:hover,
            &:focus {
                border: 0;
                outline: 0;
            }

            &:hover {
                svg path {
                    fill: map-get($colors, action2);
                }
            }
        }
    }
}