@use "../../../index.scss" as *;

.submit_button {
    @include btn-solid;
    font-size: 1.25rem;
    padding-inline: 1.25rem;
    padding-block: 1rem;
    width: 100%;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
