@use "../../../index.scss" as *;

.feed_button {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    background-color: map-get($colors, action);
    padding-block: 0.25rem;
    padding-inline: 1rem;
    color: map-get($colors, bck);
    font-size: 1rem;
    border: 2px solid map-get($colors, action);
    height: 2.5rem;
    box-sizing: border-box;

    &:hover {
        background-color: map-get($colors, darkerAction);
        border-color: map-get($colors, darkerAction);
    }

    &.longer {
        justify-content: space-between;
        width: 100%;
        height: 3.75rem;
    }
}