@use "../../../index.scss" as *;

.footer {
    display: flex;
    flex-direction: column;
    padding-block: 3.75rem;
    padding-inline: 7.5rem;
    width: 100%;
    box-sizing: border-box;
    gap: 7.5rem;
    position: relative;

    @media (max-width: 1200px) {
        padding-inline: 3rem;
    }

    @media (max-width: 900px) {
        padding-block: 6rem;
        gap: 6rem;
    }

    article {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: 900px) {
            flex-direction: column;
            gap: 6rem;
        }


        img {
            width: 18.034rem;

            @media (max-width: 900px) {
                width: 19.2rem;
            }

        }

        .footer_list {
            display: flex;
            align-items: flex-start;
            gap: 7.5rem;

            @media (max-width: 900px) {
                flex-direction: column;
                gap: 4rem;
            }


            .footer_list_block {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @media (max-width: 900px) {
                    gap: 1.6rem;
                }

                h3 {
                    font-size: 1.5rem;

                    @media (max-width: 900px) {
                        font-size: 2.4rem;
                    }

                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    @media (max-width: 900px) {
                        gap: 0.8rem;
                    }

                    a,
                    button {
                        font-size: 1.25rem;
                        font-weight: 600;
                        color: map-get($colors, darkerBck);
                        background-color: transparent;
                        border: 0;
                        outline: 0;
                        cursor: pointer;
                        padding: 0;
                        text-align: left;

                        &:hover {
                            text-decoration: underline;
                        }

                        @media (max-width: 900px) {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }

    p {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 600;
        color: map-get($colors, shadow);

        @media (max-width: 900px) {
            text-align: left;
            font-size: 2rem;
        }

    }

    .footer_ball {
        position: absolute;
        left: 0;
        bottom: 0;
        background: radial-gradient(circle at bottom left, rgba(2, 87, 165, 0.5), map-get($colors, txt) 70%);
        width: 30rem;
        height: 30rem;
        z-index: -1;
        filter: blur(100px);

        @media (max-width: 900px) {
            display: none;
        }
    }
}