@use "../../../index.scss" as *;

.logout_button {
    color: map-get($colors, bck);
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-size: 1rem;

    &:hover,
    &:focus {
        border: none;
        outline: none;
    }

    &:hover {
        svg path {
            fill: map-get($colors, darkerBck);
        }
    }
}