@use "../../index.scss" as *;

.index {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.125rem;
    background: radial-gradient(73.74% 113.54% at 73.74% 100%, map-get($colors, txt) 0%, map-get($colors, action) 90%);
    padding: 7.5rem;
    box-sizing: border-box;

    .index_text {
        width: 37.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.875rem;

        h1 {
            color: map-get($colors, bck);
            font-size: 3.75rem;
        }

        p {
            color: map-get($colors, darkerBck);
            font-size: 1.5rem;
            font-weight: 600;
        }

        .index_text_buttons {
            display: flex;
            align-items: center;
            gap: 1.25rem;
        }
    }

    .index_line {
        width: 0;
        border: 1px solid map-get($colors, bck);
        height: 25rem;
    }

    img {
        width: 20rem;
    }
}