@use "../../index.scss" as *;

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.5rem);
    }
}

.index {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3.125rem;
    padding: 7.5rem;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 1200px) {
        padding-inline: 3rem;
    }

    @media (max-width: 900px) {
        flex-direction: column;
        justify-content: flex-start;
        min-height: 100dvh;
        height: auto;
        padding-top: 10rem;
        padding-bottom: 5rem;
        width: 100%;
        box-sizing: border-box;
    }

    .index_text {
        width: 37.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.75rem;

        @media (max-width: 900px) {
            width: 100%;
            gap: 2rem;
        }

        h1 {
            background: linear-gradient(91.86deg, #0070BB 0.02%, #49B3B4 100.02%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 3.75rem;

            @media (max-width: 900px) {
                text-align: center;
                font-size: 3.5rem;
            }
        }

        p {
            color: map-get($colors, darkerBck);
            font-size: 1.5rem;
            font-weight: 600;

            @media (max-width: 900px) {
                font-size: 1.6rem;
                text-align: center;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 1.875rem;
        }
    }

    .index_image_wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 900px) {
            display: none;
        }

        img {
            width: 21.875rem;
        }
    }

    .index_scroll {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 3.75rem;
        width: fit-content;
        margin-inline: auto;
        background-color: transparent;
        border: 0;
        outline: 0;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        padding: 0;
        animation: jump 2s ease-in-out infinite;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;

        &.hidden {
            opacity: 0;
            pointer-events: none;
        }

        @media (max-width: 900px) {
            bottom: 3rem;
        }
    }
}

.about {
    padding-inline: 7.5rem;
    padding-top: 3.75rem;
    padding-bottom: 9.938rem;
    display: flex;
    flex-direction: column;
    gap: 19.875rem;

    @media (max-width: 1200px) {
        padding-inline: 3rem;
    }

    @media (max-width: 900px) {
        gap: 6rem;
        padding-top: 3rem;
        padding-bottom: 6rem;
    }

    .about_main_text {
        font-size: 4rem;
        color: map-get($colors, darkerBck);

        span {
            color: map-get($colors, bck);
        }

        @media (max-width: 900px) {
            font-size: 3.2rem;
        }
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        position: relative;
        width: 100%;

        @media (max-width: 900px) {
            gap: 6.4rem;
        }

        h2 {
            font-size: 3rem;

            @media (max-width: 900px) {
                font-size: 2rem;
            }
        }

        .about_list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3.75rem;

            @media (max-width: 900px) {
                display: flex;
                flex-direction: column;
                gap: 6rem;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.5rem;

                @media (max-width: 900px) {
                    gap: 2.4rem;
                }

                img {
                    height: 6.25rem;

                    @media (max-width: 900px) {
                        height: 6rem;
                    }
                }

                h3 {
                    font-size: 2.5rem;

                    @media (max-width: 900px) {
                        font-size: 2.8rem;
                    }
                }

                p {
                    font-size: 1.5rem;
                    color: map-get($colors, darkerBck);

                    @media (max-width: 900px) {
                        font-size: 2rem;
                    }
                }
            }
        }

        .about_ball_1 {
            position: absolute;
            top: -25dvh;
            left: -7.5rem;
            background: radial-gradient(circle at center left, rgba(73, 179, 180, 0.5), map-get($colors, txt) 50%);
            height: 100dvh;
            width: 50dvh;
            z-index: -1;
            filter: blur(100px);

            @media (max-width: 900px) {
                display: none;
            }
        }

        .about_ball_2 {
            position: absolute;
            top: -25dvh;
            right: -7.5rem;
            background: radial-gradient(circle at center right, rgba(73, 179, 180, 0.5), map-get($colors, txt) 50%);
            height: 100dvh;
            width: 50dvh;
            z-index: -1;
            filter: blur(100px);

            @media (max-width: 900px) {
                display: none;
            }
        }
    }
}

.courses {
    padding-inline: 7.5rem;
    padding-top: 9.938rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media (max-width: 1200px) {
        padding-inline: 3rem;
    }

    @media (max-width: 900px) {
        padding-top: 6rem;
    }

    h2 {
        font-size: 3rem;

        @media (max-width: 900px) {
            font-size: 3.2rem;
        }
    }
}

.wrapper {
    position: relative;

    .index_ball {
        position: absolute;
        top: 0;
        right: 0;
        background: radial-gradient(circle at center right, rgba(2, 87, 165, 0.5), map-get($colors, txt) 70%);
        height: 160dvh;
        width: 80dvh;
        z-index: -1;
        filter: blur(100px);

        @media (max-width: 900px) {
            display: none;
        }
    }
}