@use "../../../../index.scss" as *;

.quiz_question {
    display: flex;
    align-items: flex-start;
    gap: 3.75rem;

    .quiz_question_header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.25rem;
    }

    .quiz_question_content {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 3.75rem;

        .quiz_question_content_top {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            img {
                width: 3.75rem;
            }

            h1 {
                font-size: 1.5rem;
            }
        }

        .quiz_question_content_nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                background-color: transparent;
                border: 0;
                outline: 0;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 0.625rem;

                span {
                    font-size: 1.25rem;
                }

                &:hover {
                    span {
                        color: map-get($colors, action2);
                    }

                    svg path {
                        fill: map-get($colors, action2);
                    }
                }
            }
        }
    }
}