@use "../../../../index.scss" as *;

.quiz_question {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;

    h1 {
        font-size: 2.75rem;
        color: map-get($colors, action2);
    }

    .quiz_question_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 67.25rem;

        div {
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                padding: 0;
                margin: 0;
                background-color: transparent;
                border: 0;
                outline: 0;
                border-radius: 0;
                cursor: pointer;

                &:hover,
                &:focus {
                    border: 0;
                    outline: 0;
                }
            }
        }

        p {
            width: 50rem;
            font-size: 2rem;
            text-align: center;
            color: map-get($colors, darkerTxt);
        }
    }
}