@use "../../../../index.scss" as *;

.quizz_detail {
    display: flex;
    gap: 2.5rem;

    @media (max-width: 900px) {
        flex-direction: column;
    }

    .quizz_detail_info {
        display: flex;
        flex-direction: column;
        gap: 3.75rem;
        flex: 1;

        .quizz_detail_info_header {
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 2rem;
            }
        }
    }

    .quizz_detail_content {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        h3 {
            font-size: 1.5rem;
        }

        .quizz_detail_content_question {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
        }
    }

    .quizz_detail_results {
        width: 25rem;

        .quizz_detail_content_res {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            h3 {
                font-size: 1.5rem;
            }

            .quizz_detail_content_result {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
            }
        }
    }
}

.question_card {
    display: flex;
    flex-direction: column;
    background-color: map-get($colors, darkerTxt);
    cursor: pointer;

    .question_card_header {
        padding: 1.25rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3.75rem;

        h4 {
            font-size: 1rem;
        }

        .show {
            transform: rotate(180deg);
        }
    }

    .question_card_content {
        display: flex;
        flex-direction: column;
        padding-inline: 1.25rem;
        padding-bottom: 1.25rem;
        width: 100%;
        box-sizing: border-box;
        gap: 0.25rem;

        p {
            font-size: 1rem;
            font-weight: 600;
            color: map-get($colors, darkerBck);
        }
    }
}