@use "../../../index.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 6.25rem;
    width: 100%;
    box-sizing: border-box;
    padding-top: 3.75rem;
    padding-inline: 7.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    img {
        width: 3.438rem;
    }

    nav {
        display: flex;
        gap: 3.75rem;

        a, button {
            color: map-get($colors, bck);
            font-size: 1.25rem;
            background-color: transparent;
            border: 0;
            outline: 0;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}