@use "../../../../index.scss" as *;

.course_detail {
    display: flex;
    gap: 3.75rem;

    .course_detail_about {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 3.75rem;

        .course_detail_about_header {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            h2 {
                color: map-get($colors, action);
                font-size: 2rem;
            }

            p {
                font-size: 1.25rem;
                color: map-get($colors, darkerShadow);
            }
        }
    }

    .course_detail_content {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .course_detail_content_header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 1rem;
                color: map-get($colors, darkerShadow);   
            }
        }

        h3 {
            font-size: 1.5rem;
            color: map-get($colors, darkerTxt);
        }

        .course_detail_content_quiz {
            display: flex;
            flex-wrap: wrap;
            gap: 0.75rem;
        }

        .course_detail_content_material {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
    }

    .course_detail_materials {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        width: 21.25rem;
    }
}