@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

$colors: (
    bck: rgba(255, 255, 255, 1),
    darkerBck: rgba(193, 193, 193, 1),
    txt: rgba(26, 26, 26, 1),
    darkerTxt: rgba(51, 51, 51, 0.5),
    action: rgba(2, 87, 165, 1),
    action2: rgba(73, 179, 180, 1),
    warning: rgba(217, 33, 33, 1),
    shadow: rgba(131, 131, 131, 1)
);

* {
    padding: 0;
    margin: 0;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: map-get($colors, bck);
    transition: 0.3s ease-in-out;
}

body {
    background-color: map-get($colors, txt);
    color: map-get($colors, bck);
    font-size: 16px;

    @media (min-width: 2500px) {
        font-size: 24px;
    }

    @media (max-width: 2500px) {
        font-size: 22px;
    }

    @media (max-width: 2300px) {
        font-size: 20px;
    }

    @media (max-width: 2100px) {
        font-size: 18px;
    }

    @media (max-width: 1900px) {
        font-size: 16px;
    }

    @media (max-width: 1700px) {
        font-size: 15px;
    }
    
    @media (max-width: 1500px) {
        font-size: 14px;
    }
    
    @media (max-width: 1300px) {
        font-size: 13px;
    }
    
    @media (max-width: 1100px) {
        font-size: 12px;
    }
    
    @media (max-width: 900px) {
        font-size: 11px;
    }
    
    @media (max-width: 700px) {
        font-size: 10px;
    }
}

a {
    text-decoration: none;
    color: map-get($colors, bck);
}