@use "../../../index.scss" as *;

.feed_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: map-get($colors, darkerTxt);
    margin-top: 1.25rem;

    .feed_form_inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-inline: 1rem;
        padding-block: 1rem;
        box-sizing: border-box;

        input {
            padding: 0;
            margin: 0;
            outline: 0;
            border: none;
            background-color: transparent;
            font-size: 1.25rem;
            color: map-get($colors, bck);

            ::placeholder {
                font-size: 1.25rem;
                color: map-get($colors, darkerBck);
            }

            &:focus {
                outline: 0;
                border: none;
            }
        }
    }

    button {
        background-color: transparent;
        cursor: pointer;
        padding: 1rem;
        border: 0;
        outline: 0;

        svg path {
            fill: map-get($colors, bck);
        }

        &:hover {
            svg path {
                fill: map-get($colors, action2);
            }
        }
    }
}