@use "../../../index.scss" as *;

.feed_card {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border: 2px solid map-get($colors, darkerTxt);
    background-color: map-get($colors, darkerTxt);
    padding: 1.25rem;
    width: 100%;
    box-sizing: border-box;

    .feed_card_header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .feed_card_header_author {
            display: flex;
            align-items: center;
            gap: 0.75rem;

            img {
                width: 1.938rem;
            }

            .user {
                width: 2rem;
                height: 2rem;
                background-color: map-get($colors, darkerShadow);
                border-radius: 1rem;
            }

            p {
                font-size: 1rem;
                color: map-get($colors, bck);
            }
        }

        .feed_card_header_date {
            display: flex;
            align-items: center;
            gap: 0.75rem;

            p {
                font-size: 1rem;
                color: map-get($colors, darkerBck);
            }
        }
    }

    .feed_card_content {
        display: flex;

        h4 {
            font-size: 1.5rem;
        }

        input {
            font-size: 1.5rem;
            color: map-get($colors, action);
            border: 0;
            outline: none;
            padding: 0;
            background-color: transparent;
            border-bottom: 2px solid map-get($colors, action);
            padding-bottom: 0.5rem;
            width: 50%;

            &:hover,
            &:focus {
                outline: none;
            }

            &::placeholder {
                font-size: 1.5rem;
                color: map-get($colors, action);
            }
        }

        button {
            border: 1px solid map-get($colors, action);
            outline: 0;
            cursor: pointer;
            background-color: transparent;
            padding: 0;
            border-radius: 0;
            padding-block: 0.5rem;
            padding-inline: 1.25rem;
            font-size: 1.25rem;
            color: map-get($colors, bck);
            background-color: map-get($colors, action);

            &:hover,
            &:focus {
                outline: 0;
            }
        }
    }
}