@use "../../../index.scss" as *;

.feed_card {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border: 2px solid map-get($colors, lighterShadow);
    background-color: map-get($colors, lighterShadow);
    padding: 1.25rem;
    width: 100%;
    box-sizing: border-box;

    .feed_card_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .feed_card_header_author {
            display: flex;
            align-items: center;
            gap: 0.75rem;

            img {
                width: 1.938rem;

                &.user {
                    width: 2rem;
                    height: 2rem;
                    object-fit: cover;
                    background-color: map-get($colors, darkerShadow);
                    border-radius: 1rem;
                }
            }

            p {
                font-size: 1rem;
                color: map-get($colors, darkerTxt);
            }
        }

        .feed_card_header_date {
            font-size: 1rem;
            color: map-get($colors, darkerShadow);
        }
    }

    .feed_card_content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h4 {
            font-size: 1.5rem;
        }

        p {
            font-size: 0.875rem;
            color: map-get($colors, darkerTxt);
        }
    }
}