@use "../../../../../index.scss" as *;

.result_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: map-get($colors, darkerTxt);

    .result_card_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.25rem;
        box-sizing: border-box;
        cursor: pointer;

        div {
            display: flex;
            flex-direction: column;

            .result_card_header_heading {
                font-size: 1rem;
                color: map-get($colors, bck);
            }

            p {
                font-size: 0.875rem;
                color: map-get($colors, darkerBck);
            }
        }

        button {
            cursor: pointer;
            outline: none;
            border: none;
            padding: 0;
            background-color: transparent;
            margin: 0;
            display: inline-block;

            &:hover,
            &:focus {
                outline: none;
                border: none;
            }

            &.show {
                transform: rotate(180deg);
            }
        }
    }

    .result_card_content {
        padding-bottom: 1.25rem;
        padding-inline: 1.25rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;

        p {
            width: 4.375rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.25rem;
            font-weight: 700;
            background-color: map-get($colors, darkerTxt);
            color: map-get($colors, success);
            border: 1px solid map-get($colors, darkerTxt);
            box-sizing: border-box;

            &.red {
                color: map-get($colors, warning);
            }
        }
    }
}