@use "../../../../../index.scss" as *;

.result_card {
    display: flex;
    flex-direction: column;
    padding-block: 0.25rem;
    padding-inline: 1rem;
    width: 100%;
    background-color: map-get($colors, lighterShadow);
    box-sizing: border-box;

    .result_card_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: calc(3.75rem - 0.5rem);
        cursor: pointer;

        .result_card_header_heading {
            font-size: 1.5rem;
            color: map-get($colors, action);
        }

        p {
            font-size: 1rem;
            color: map-get($colors, darkerShadow);
        }

        button {
            cursor: pointer;
            outline: none;
            border: none;
            padding: 0;
            background-color: transparent;
            margin: 0;
            display: inline-block;

            &:hover,
            &:focus {
                outline: none;
                border: none;
            }

            &.show {
                transform: rotate(180deg);
            }
        }
    }

    .result_card_content {
        padding-bottom: 1rem;
        padding-top: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.625rem;

        p {
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: map-get($colors, bck);
            background-color: map-get($colors, action);
            font-size: 0.875rem;

            &.red {
                background-color: map-get($colors, warning);
            }

            &.none {
                background-color: map-get($colors, darkerShadow);
            }
        }
    }
}