@use "../../index.scss" as *;

.register {
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    gap: 15rem;
    justify-content: center;
    padding: 3rem 2rem;
    box-sizing: border-box;
    overflow: hidden;

    @media (max-width: 900px) {
        flex-direction: column;
        gap: 3rem;
        padding: 3rem 1.5rem;
    }

    img {
        width: 28rem;

        @media (max-width: 1100px) {
            width: 22rem;
        }

        @media (max-width: 900px) {
            width: 14rem;
        }
    }

    .register_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25rem;
        max-width: 100%;
        gap: 2.5rem;

        h1 {
            font-size: 2.5rem;
            text-align: center;

            @media (max-width: 900px) {
                display: none;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            width: 25rem;
            max-width: 100%;

            .err {
                font-size: 1rem;
                text-align: center;
                color: map-get($colors, warning);
            }

            .link {
                font-size: 1rem;
                text-align: center;
                font-weight: 400;

                a {
                    color: map-get($colors, action2);
                    text-decoration: underline;

                    &:hover {
                        color: map-get($colors, action);
                    }
                }
            }
        }
    }

    .register_ball {
        position: absolute;
        top: 0;
        left: 0;
        background: radial-gradient(circle at top left, rgba(73, 179, 180, 0.5), map-get($colors, txt) 70%);
        height: 100dvh;
        width: 50dvh;
        z-index: -1;
        filter: blur(100px);
    }

    .register_ball_2 {
        position: absolute;
        bottom: 0;
        right: 0;
        background: radial-gradient(circle at bottom right, rgba(2, 87, 165, 0.5), map-get($colors, txt) 70%);
        height: 100dvh;
        width: 50dvh;
        z-index: -1;
        filter: blur(100px);
    }
}
