@use "../../../index.scss" as *;

.material_dashboard_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid map-get($colors, lighterShadow);
    background-color: map-get($colors, lighterShadow);
    width: 100%;
    height: 3.75rem;
    padding-inline: 1rem;
    padding-block: 0.25rem;
    box-sizing: border-box;

    .material_dashboard_card_text {
        display: flex;
        flex-direction: column;

        h4 {
            font-size: 1rem;
            color: map-get($colors, darkerTxt);
        }

        p {
            color: map-get($colors, darkerShadow);
            font-size: 0.875rem;
        }
    }

    .material_dashboard_card_actions {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        button {
            outline: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
            border-radius: 0;

            &:hover,
            &:focus {
                outline: none;
                border: none;
            }
        }
    }

    &:hover {
        background-color: transparent;

        svg path {
            fill: map-get($colors, action);
        }

        .red svg path {
            fill: map-get($colors, warning);
        }
    }
}